In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('C:/Users/kra/Downloads/covid19_data.csv')

In [11]:
df.describe()

,Total Cases,Total Deaths,Population,GDP (per capita),Hospital Beds per 1000,Population Over 65 (%),Deaths per Million
count,1.000000e+03,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000
mean,5.080715e+06,150305.389000,1.526891e+08,31325.772000,5.523920,17.189439,2043.159033
std,2.881998e+06,85730.838611,8.448709e+07,15693.559614,2.542267,7.099550,4051.991458
min,1.126000e+04,388.000000,5.241023e+06,5088.000000,1.001233,5.051604,2.990104
25%,2.596459e+06,77749.250000,8.065062e+07,17356.000000,3.459824,10.913550,496.130820
50%,5.204210e+06,152934.000000,1.503633e+08,30878.000000,5.545543,17.016435,983.661647
75%,7.529335e+06,223503.000000,2.233762e+08,45404.500000,7.724527,23.141883,1862.398036
max,9.988885e+06,299283.000000,2.998955e+08,59928.000000,9.988978,29.997697,48155.102544

In [13]:
df.head()

,Country,Date,Total Cases,Total Deaths,Population,GDP (per capita),Hospital Beds per 1000,Population Over 65 (%),Deaths per Million
0,Australia,2020-11-01,1618129,39312,38281779,32335,7.374642,18.389600,1026.911524
1,India,2022-04-16,3761966,48292,51625552,36492,4.476198,9.030928,935.428255
2,USA,2022-12-06,2131609,173242,223551276,58320,3.924222,26.445875,774.954199
3,Russia,2022-03-09,3539513,108169,299313845,49769,4.866177,8.063684,361.389898
4,Brazil,2022-04-27,7652266,38076,102811137,23526,3.620300,18.444135,370.348983

In [143]:
df.tail()

,Country,Date,Total Cases,Total Deaths,Population,GDP (per capita),Hospital Beds per 1000,Population Over 65 (%),Deaths per Million
995,Germany,2020-08-07,8207225,291374,87855990,18498,1.217515,16.051327,3316.495551
996,Australia,2020-06-28,5007575,286738,35927696,34811,3.635423,8.605917,7980.973787
997,India,2022-11-19,7682883,73472,30450703,40712,4.817085,17.997999,2412.817858
998,Italy,2022-08-25,3007571,245366,111118309,23244,7.898974,8.054016,2208.150954
999,Australia,2022-09-29,2621532,25907,237053210,35060,7.698986,20.785929,109.287700

In [139]:
#The difference in total cases between Italy and Germany exceeded 100,000

g = df[df['Country']=='Germany'].sort_values(by='Date').reset_index(drop=True)
i=df[df['Country']=='Italy'].sort_values(by='Date').reset_index(drop=True)

min_length=min(len(g),len(i))
diff=abs(g.loc[:min_length-1,'Total Cases'] -i.loc[:min_length-1, 'Total Cases'])


if any(diff>100000): 
    date_exceeds_100k= g.loc[diff>100000, 'Date'].iloc[0] 
    
else :
 'Not Found'

print(date_exceeds_100k)

2020-01-13

In [118]:
# What country has the highest 3rd death rate

country_death_rate=df.groupby('Country')['Deaths per Million'].mean().reset_index()

sorted= country_death_rate.sort_values(by='Deaths per Million',ascending=False)

sorted = sorted.reset_index(drop=True)
third_highest_country=sorted.loc[2,'Country']
third_highest_rate=sorted.loc[2,'Deaths per Million']

print(third_highest_country)
print(third_highest_rate)

India
2285.295638789366

In [ ]:
# What is the probability that a country has a gdp of over $10000 if we know they have at least 5 hospital beds per 1000 inhabitants.

In [ ]:
A = df['GDP']>1000
B= df['Hospital Beds per 1000']>=5

countAB=df[A&B].shape[0]
countB= df[B].shape[0]

if B!=0:
    probability= countAB/countB
    print(probability)

else:
    probability =0

In [215]:
# What is the F1 score of the following statement,, Countries where more than 17% the population is over 65 years old,have death rates over 2000 per million inhabitants.
# True positive: fulfills both conditons
#True negative: Fulfills neither condition
#False positive: Fulfills condition one but not 2
#False neg: Fulfills 2 but not one

byCountries= df.groupby('Country')[['Deaths per Million','Population Over 65 (%)']].mean().reset_index()

print(byCountries)
TP=byCountries[(byCountries['Population Over 65 (%)']>17)  & (byCountries['Deaths per Million']>2000)]
print(f'True positive:\n {TP}')
TPCount= TP.shape[0]


TN=byCountries[(byCountries['Population Over 65 (%)']<17) & (byCountries['Deaths per Million']<2000)]
print(f'True Negative:\n{TN}')
TNCount = TN.shape[0]

FP= byCountries[(byCountries['Population Over 65 (%)']>17) &(byCountries['Deaths per Million']<2000)]
print(f'False Positive:\n{FP}')
FPCount= FP.shape[0]

FN= byCountries[(byCountries['Population Over 65 (%)']<17) &(byCountries['Deaths per Million']>2000)]
print(f'False Negative:\n{FN}')
FNCount= FN.shape[0]

precision= (TPCount/(TPCount + FPCount))
Recall = (TPCount/(TPCount + FNCount))

F1= 2*(precision*Recall)/(precision+Recall)

print(f'F1 score:\n{F1}')

     Country  Deaths per Million  Population Over 65 (%)
0  Australia         2470.579482               17.572448
1     Brazil         2175.541858               16.932559
2     France         2556.524789               16.735492
3    Germany         1602.457117               17.115284
4      India         2285.295639               16.664631
5      Italy         1931.653248               17.728984
6     Russia         2127.637617               16.115443
7      Spain         1715.826177               17.400037
8         UK         1508.085488               18.088765
9        USA         2071.308549               17.548675
True positive:
      Country  Deaths per Million  Population Over 65 (%)
0  Australia         2470.579482               17.572448
9        USA         2071.308549               17.548675
True Negative:
Empty DataFrame
Columns: [Country, Deaths per Million, Population Over 65 (%)]
Index: []
False Positive:
   Country  Deaths per Million  Population Over 65 (%)
3  Germany         1602.457117               17.115284
5    Italy         1931.653248               17.728984
7    Spain         1715.826177               17.400037
8       UK         1508.085488               18.088765
False Negative:
  Country  Deaths per Million  Population Over 65 (%)
1  Brazil         2175.541858               16.932559
2  France         2556.524789               16.735492
4   India         2285.295639               16.664631
6  Russia         2127.637617               16.115443
F1 score:
0.3333333333333333